@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

header {
    margin: 0;
    padding: 0;
}

.header-name-wrapper {
    margin: 2vh 1vw 2vh;
    color: white;
}

.header {
    height: 10%;
    width: 100%;
    display: flex;
    background-color: #d69cff;
    justify-content: space-between;
    box-shadow: 0 0 1vw 0.5vw #e8c8ff;
}

.header .lab-name{
    color: whitesmoke;
    font-weight: bold;
}

.header > div {
    display: flex;
    align-items: center;
    margin: 1vh 2vw auto auto;
    flex-direction: column;
}

.header span{
    text-align: center;
    margin-bottom: 5%;
    color: white;
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
}

.header-button-wrapper {
    display: flex;
}

.logout {
    margin-top: 5%;
    margin-bottom: 5%;
}

button .logout {
    padding: 1vw 2vw;
}

@media screen and (max-width: 747px){
    .header span {
        font-size: 3vw;
    }
    .header-button-wrapper * {
        font-size: 2vw;
        padding: 2vw 5vw;
    }
}

@media screen and (max-width: 490px){
    .header span {
        font-size: 3.5vw;
    }
    .header-button-wrapper {
        font-size: 4vw;
    }
}

@media screen and (min-width: 1176px) {
    .header span {
        font-size: 1.5vw;
    }
    .header-button-wrapper * {
        font-size: 1vw;
        padding: 1vw 2vw;
    }
}

.header h1 {
    transition-duration: 0.6s;
    font-size: 250%;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1), 0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1), 0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1), -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}
.header h1 span {
    transform: scale(0.9);
    display: inline-block;
}
.header h1 span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
.header h1 span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
@keyframes bop {
    0% {
        transform: scale(0.9);
    }
    50%, 100% {
        transform: scale(1);
    }
}
@keyframes bopB {
    0% {
        transform: scale(0.9);
    }
    80%, 100% {
        transform: scale(1) rotateZ(-3deg);
    }
}