.create-wrapper {
    display: flex;
    flex-flow: column nowrap;
}

.row-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.success-message {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    display: block;
    color: #d07cff;
    font-size: xx-large;
    font-weight: bolder;
}

.create-wrapper input{
    padding: 0 10% 0 10%;
}

.preview-wrapper {
    margin: 2% 0 0 5%;
    width: 200px;
    height: 200px;
    min-height: 200px;
    min-width: 200px;
    border: #d69cff solid 2px;
}

.coords-wrapper, .main-inputs-wrapper {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    align-items: center;
    text-align: center;
}

.coords-wrapper span {
    flex: 1;
}

.inputs-wrapper {
    flex: 2;
    display: flex;
    flex-flow: row nowrap;
}

.create-wrapper input,
.create-wrapper span{
    margin: 2% 20% 0 5%
}

.create-wrapper textarea,
.create-wrapper button {
    margin: 2% 10% 0 5%
}

.create-wrapper input[type=text] {
    flex: 1
}

.create-wrapper textarea {
    flex: 2;
    min-height: 200px;
    max-height: 400px;
}

.create-wrapper button {
    flex: 1
}

img {
    max-width: 200px;
    max-height: 200px;
}